body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-header,
.address {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.span-header {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2e2f42;
}

@media screen and (min-width:768px) {
    .burger-btn {
        display: none;
    }

    .navigation-header {
        display: flex;
        align-items: center;
    }

    .list-header {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .navigation-link-header {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .navigation-link-header:hover,
    .navigation-link-header:focus {
        color: #404bbf;
    }

    .navigation-link-header:active {
        color: #404bbf;

    }

    .navigation-link-header.current {
        position: relative;
        color: #404bbf;
    }

    .navigation-link-header.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .address {
        font-style: normal;
        display: block;
    }

    .list-addresse {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .link-contacts {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        text-decoration: none;
        font-style: normal;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }

    .link-contacts:hover,
    .link-contacts:focus {
        color: #404bbf;
    }

}

@media screen and (min-width:1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .list-addresse {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .link-contacts {
        padding: 24px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* mobile menu */

.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.nav-mobile {
    margin-bottom: auto;
}

.list-mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.nav-link-mobile {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link-mobile.current {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.adresse-mobile {
    margin-bottom: 48px;
}

.list-adresse-mobile {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.link-contacts-mobile {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.link-contacts:hover,
.link-contacts:focus {
    color: #404bbf;
}


.media-list-mobile {
    display: flex;
    gap: 40px;
}

.media-icon-link-mobile {
    fill: #f4f4fd;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-icon-link-mobile:hover,
.media-icon-link-mobile:focus {
    background-color: #404bbf;
}

.media-icon-link-mobile:active {
    background-color: #404bbf;
}

/*end mobile menu*/

/*modal*/

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-backdrop.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal {
    width: 288px;
    min-height: 623px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

@media screen and (min-width:768px) {
    .modal {
        width: 408px;
        min-height: 584px;
    }
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.close-btn-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
    fill: #fff;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-container-block {
    margin-bottom: 8px;

}

.modal-form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-form-input-cont {
    position: relative;
}

.modal-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    outline: transparent;
    padding-left: 38px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: #4D5AE5;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: transparent;
    stroke: #1e1823;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-icon {
    stroke: #4d5ae5;
    fill: #4d5ae5;
}

.cont-user-text {
    margin-bottom: 16px;
}

.user-comment {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 256px;
    min-height: 120px;
    padding: 8px 16px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

@media screen and (min-width: 768px) {
    .user-comment {
        width: 360px;
    }
}

.user-comment:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.user-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-form-con-chekbox {
    margin-bottom: 24px;
}

.label-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-link {
    cursor: pointer;
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.custom-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.label-checkbox .custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.submit-btn {
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn.focus {
    background-color: #404bbf;
}

/*end modal*/

/*section solutions*/

.section-solutions {
    background-position: center;
    margin: 0 auto;
    background-color: #2e2f42;
    padding: 72px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url('../images/bg-photo-mobile.jpg');
}

@media (min-resolution: 2x) {
    .section-solutions {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/bg-photo-mobile@2.jpg');
    }
}

@media screen and (min-width: 768px) {
    .section-solutions {
        background-position: center;
        margin: 0 auto;
        background-color: #2e2f42;
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/bg-photo-tablet.jpg);
    }

    @media (min-resolution: 2x) {
        .section-solutions {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/bg-photo-tablet@2.jpg);
        }
    }
}

@media screen and (min-width: 1158px) {
    .section-solutions {
        background-position: center;
        margin: 0 auto;
        background-color: #2e2f42;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/hero-bg-image.jpg);
    }

    @media (min-resolution: 2x) {
        .section-solutions {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/hero-bg@2.jpg);
        }
    }
}

.title-solutions {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin: 0 auto 72px;
    max-width: 216px;
}

@media screen and (min-width:768px) {
    .title-solutions {
        font-size: 56px;
        line-height: 1.07;
        margin: 0 auto 36px;
        max-width: 496px;
    }
}

@media screen and (min-width:1158px) {
    .title-solutions {
        margin: 0 auto 48px;
    }
}

.button-solutions {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 75px;
    margin-right: 75px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.button-solutions:hover,
.button-solutions:focus {
    background-color: #404BBF
}

@media screen and (min-width:768px) {
    .button-solutions {
        margin: 0 300px;
    }
}

@media screen and (min-width:1158px) {
    .button-solutions {
        margin: 0 480px;
    }
}

/*end section solutions*/

/* section studio*/

.list-studio {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 72px;
    margin-bottom: 96px;
}

@media screen and (min-width:768px) {

    .list-studio {
        gap: 24px;
    }

    .item-studio {
        width: calc((100% - 24px)/2);
    }
}

@media screen and (min-width:1158px) {
    .list-studio {
        align-self: center;
        gap: 24px;
        margin-top: 96px;
    }

    .item-studio {

        width: calc((100% - 72px)/4);
    }

    .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        margin-bottom: 8px;
    }


}

.item-subtitle-studio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

@media screen and (min-width:1158px) {
    .item-subtitle-studio {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    }
}


.item-text-studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8px;
}

@media screen and (min-width:1158px) {
    .item-text-studio {
        font-weight: 400;
    }
}

.icon-studio {
    visibility: hidden;
}

@media screen and (min-width:1158px) {
    .icon-studio {
        visibility: visible;
    }
}




/* end section studio*/

/* section our-team*/

.section-our-team {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

@media screen and (min-width:1158px) {
    .subtitle {
        text-transform: capitalize;
    }

    .our-team-item-subtitle {
        text-transform: capitalize;
    }
}

.our-team-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.list-our-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;

}

@media screen and (min-width:768px) {
    .list-our-team {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width:1158px) {
    .list-our-team {
        flex-direction: row;
        gap: 24px;
        margin-top: 72px;
    }

}

.item-our-team {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width:1158px) {
    .item-our-team {
        width: calc((100% - 72px)/4);
    }

}

.our-team-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.our-team-text-container {
    padding: 32px 0;
    gap: 8px;
    text-align: center;
}

.media-list-our-team {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: calc((100% - 24 * 3) / 4);
    margin-top: 8px;
}

.media-icon-link-our-team {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-icon-link-our-team:hover,
.media-icon-link-our-team:focus {
    background-color: #404bbf;
}

.media-icon-link-our-team:active {
    background-color: #404bbf;
}

/*end section our-team*/

/*section portfolio*/

.section-portfolio {
    padding: 96px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 48px;
    margin-top: 72px;
}

.portfolio-item {
    background-color: #FFFFFF;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:768px) {
    .portfolio-list {
        row-gap: 48;
        column-gap: 24px;
    }

    .portfolio-item {
        width: calc ((100% - 24px) / 2);

    }
}

@media screen and (min-width:1158px) {

    .portfolio-item {
        width: calc ((100% - 48px) / 3);
    }
}

.img-box {
    position: relative;
    overflow: hidden;
}

.img-box:hover .overlay-text {
    opacity: 1;
    transform: translateY(0);
}

.overlay-text {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    padding: 40px 32px;
    opacity: 0;
    transform: translateY(100%);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-text-container {
    border-right: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-bottom: 1px solid #e7e9fc;
    padding: 32px 16px;
    gap: 8px;
}

/*end section portfolio*/

/* footer */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

@media screen and (min-width:768px) {

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }

}


@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
    }
}

.logo {
    display: block;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.span-footer {
    color: #f4f4fd;
}

@media screen and (min-width:1158px) {
    .footer-logo-container {
        margin-right: 120px;
    }

}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: left;
    max-width: 288px;
    margin-bottom: 72px;

}


.soc-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.media-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: calc((100% - 16 * 3) / 4);
    margin-bottom: 72px;
}

.media-icon-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-icon-link:hover,
.media-icon-link:focus {
    background-color: #31d0aa;
}

.media-icon-link:active {
    background-color: #31d0aa;
}

@media screen and (min-width:1158px) {
    .email-form-footer {
        display: flex;
        gap: 24px;
        flex-direction: row;
        align-items: baseline;
    }
}

.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}


@media screen and (min-width:1158px) {
    .subscribe-text {
        text-align: left;
    }

}

.email-input {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    opacity: 0.3;
    margin-bottom: 16px;

}

@media screen and (min-width:1158px) {
    .email-input {
        width: 264px;
        position: relative;
        opacity: 1;
        margin-left: 80px;
    }

}

.email-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    opacity: 0.3;
    padding-left: 16px;

}

.subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover {
    background: #404bbf;
}

.subscribe-icon {
    margin-left: 16px;
}

/* end footer */